<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            500错误页
        </title>
        <link rel="stylesheet" href="stylesheets/err.css">
    </head>
<body>
    
    <div class="box">
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;错误页面<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注册错误：用户已存在
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登录错误：密码错误或用户不存在
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其余错误：删除的用户不存在或者页面不存在。
    <br>
    <span id="time">
        5
    </span>秒后跳转回主页,如无反应
    <a href="http://localhost:3000">
        点击这里
    </a></h1>
</div>

<script>
			function countDown(){
				//获取初始时间
				var time = document.getElementById("time");
				
				//获取到id为time标签中的数字时间
				if(time.innerHTML == 0){
					//等于0时清除计时，并跳转该指定页面
					window.location.href="http://localhost:3000";
				}else{
					time.innerHTML = time.innerHTML-1;
				}
			}
			//1000毫秒调用一次
			window.setInterval("countDown()",1000);
		</script>
</body>
</html>