<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
博客页
        </title>
        <script src="/javascripts/perusal.js" type="text/javascript"></script>
        <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/stylesheets/perusal.css" rel="stylesheet">
    </head>
<body>
  
    <div class="warp">
        <div class="top">
            <div class="top-box">
           <img src="/img/logo1.png">
           <a class="h" href="#" style="text-decoration:none">Starry Sky</a>
           <strong class="hh">
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp
               &nbsp;&nbsp;&nbsp;&nbsp;心之所向，身之所往</strong>
            </div>
            <div class="top-box2">
              <div id="mySidenav" class="sidenav" >
                <a herf="javascript:viod(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">&darr;快捷浏览&darr;</a>
                <a href="reg">注册</a>
                <a href="updata">修改用户资料</a>
                <a href="login">退出</a>
                </div>
                <div id="main">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776</span>
                </div>
            <div class="share-button">
              <div class="boxx">
              <span><i class="fa fa-share-square-o" aria-hidden="true"></i>分享</span>
              <a href="#"><i class="fa fa-qq" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-wechat" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-weibo" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-renren" aria-hidden="true"></i></a>
            </div>
          </div>
            </div>
          </div>
            <div class="left-box">
            <div class="left-box1">
                <table id="calendar">
                    <tr>
                      <!-- 向左箭头 -->
                      <th class="poin">&lt;&lt;</th>
                      <!-- 年月 -->
                      <th id="title" colspan="5"></th>
                      <!-- 向右箭头 -->
                      <th class="poin">&gt;&gt;</th>
                    </tr>
                    <tr id="days">
                      <th>日</th>
                      <th>一</th>
                 
                      <th>二</th>
                      <th>三</th>
                      <th>四</th>
                      <th>五</th>
                      <th>六</th>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </table>
            </div>
            <div class="left-box2">
            <div class="card">
              <div class="card_front">
                <h2>学编程的路途</h2>
                <p>按住试试</p>
              </div>
              <div class="card_back">
                <h2>对编程感兴趣</h2>
                &darr;
                <h2>挫败多过成功</h2>
                &darr;
                <h2>低谷期</h2>
                &darr;
                <h2>找回感觉</h2>
                &darr;
                <h2>开窍</h2>
                &darr;
                <h2>麻木</h2>
                &darr;
                <h2>领悟</h2>               
              </div>
            </div>
</div>
            </div>
            <div class="center-box">
            <div class="c-box"><div class="banners">
              <ul class="images">
                   <!-- 核心滚动区 -->
                  <li>
                      <a href="#"><img src="img/3.png" alt=""></a>
                  </li>           
                  <li>
                      <a href="#"><img src="https://th.wallhaven.cc/small/z8/z8dg9y.jpg" alt=""></a>
                  </li>       
                  <li>
                      <a href="#"><img src="https://images.wallpaperscraft.com/image/single/mountains_snow_peak_232726_300x168.jpg" alt=""></a>
                  </li>       
                  <li>
                      <a href="#"><img src="https://img5.goodfon.com/wallpaper/big/9/c9/lago-di-carezza-karersee-dolomites-south-tyrol-italy-ozero-k.jpg" alt=""></a>
                  </li>                 
              </ul> 
              <!-- 左箭头 -->
              <a href="javascript:;" class="prev"> &lt;</a>
              <!-- 右箭头 -->
              <a href="javascript:;" class="next"> &gt;</a>
              <!-- 小圆点 -->
              <ul class="dots">
                  <!-- li 可用js动态生成-->
              </ul>
          </div></div>
            <div class="c-box1"><h1 align="center">跌倒再站起来，失败中造就成功的自我</h1></div>
            <div class="c-box2">
              <!--悬停卡片-->
              <div class="boxxx">
                <div class="kapian">
                  <div class="tu">
                     <a href="p1">
                       <img src="https://wallroom.io/img/2560x1600/bg-79cb16d.jpg">
                  </div>
                  <div class="wenben">
                        <h2>行走人生</h2>
                        <p style="padding-bottom: 20px;">哲理类</p>
                        <p>
                            每个人的存在都有意义，与你并肩随行的人，与你擦肩而过的人，都在你不经意的角落下给你留下一些事迹。
                            </p></a>
                  </div>
            </div>
              </div>
              <!--悬停卡片-->
              <div class="boxxx">
                <br>
                <div class="kapian">
                  <div class="tu">
                     <img src="https://images.hdqwalls.com/wallpapers/facet-shape-render-5k-nm.jpg">
                  </div>
                  <div class="wenben">
                        <h2>接触编程</h2>
                        <p style="padding-bottom: 20px;">计算机类</p>
                        <p>
                            第一次编程觉得很有趣，当我深入了解时，我才知道是我我片面了......
                            </p>
                  </div>
            </div>
              </div>
              <br>
             
            </div>
          <div class="c-box3">
            <br> <br>
            <div class="boxxx">
              <div class="kapian">
                <div class="tu">
                  <a href="sum">
                   <img src="https://w.wallhaven.cc/full/72/wallhaven-72rd8e.jpg">
                </div>
                <div class="wenben">
                      <h2>学期总结</h2>
                      <p style="padding-bottom: 20px;">个人反思</p>
                      <p>
                          学习上的自我总结，社会上的自我总结，努力才会有所收获......
                          </p></a>
                </div>
          </div>
            </div>
            <br>
            <div class="boxxx">
              <div class="kapian">
                <div class="tu">
                  <a href="game">
                   <img src="/img/4.png">
                </div>
                <div class="wenben">
                      <h2>2048小游戏</h2>
                      <p style="padding-bottom: 20px;">游戏类</p>
                      <p>
                          生活很美好，但也很累，适当放松，玩一会益智类游戏吧！爱生活，爱自己！
                          </p></a>
                </div>
          </div>
          </div>
          </div>
          </div>
            <div class="right-box">
            <div class="a-box">
             <a href="updata"> <div class="wrapper">
              <div class="round">
                  <span>富强</span>
                  <span>民主</span>
                  <span>文明</span>
                  <span>和谐</span>
              </div></a>
          </div>
            </div>
            <div class="a-box1">
              <form action="/perusal" method="post">
                <div class="active-input">
                  <input placeholder="请输入要删除的用户名" name="name" class="input"/>
                  <span class="input-span"></span>
                </div><button class="p-button">删除</button>
              </form></div>
     </div>
</div>
<button onclick="topFunction()" id="myBtn" title="回顶部">返回顶部</button>

<script>
  function animate(obj, target,callback) {
    //让元素只有一个定时器在执行，需要清除以前的定时器
    clearInterval(obj.timer);
    obj.timer = setInterval(function () {
        var step = (target - obj.offsetLeft) / 10;
        step = step > 0 ? Math.ceil(step) : Math.floor(step);
        if (obj.offsetLeft == target) {
            //停止动画 本质是停止定时器
            clearInterval(obj.timer)
            //回调函数写到定时器结束位置
            if(callback) {
                callback();
            }

        }
        //把每次加1这个步长值改为一个慢慢变小的值
        obj.style.left = obj.offsetLeft + step + 'px';
    }, 15);
}



function clickEffect() {
  let balls = [];
  let longPressed = false;
  let longPress;
  let multiplier = 0;
  let width, height;
  let origin;
  let normal;
  let ctx;
  const colours = ["#F73859", "#14FFEC", "#00E0FF", "#FF99FE", "#FAF15D"];
  const canvas = document.createElement("canvas");
  document.body.appendChild(canvas);
  canvas.setAttribute("style", "width: 100%; height: 100%; top: 0; left: 0; z-index: 99999; position: fixed; pointer-events: none;");
  const pointer = document.createElement("span");
  pointer.classList.add("pointer");
  document.body.appendChild(pointer);
 
  if (canvas.getContext && window.addEventListener) {
    ctx = canvas.getContext("2d");
    updateSize();
    window.addEventListener('resize', updateSize, false);
    loop();
    window.addEventListener("mousedown", function(e) {
      pushBalls(randBetween(10, 20), e.clientX, e.clientY);
      document.body.classList.add("is-pressed");
      longPress = setTimeout(function(){
        document.body.classList.add("is-longpress");
        longPressed = true;
      }, 500);
    }, false);
    window.addEventListener("mouseup", function(e) {
      clearInterval(longPress);
      if (longPressed == true) {
        document.body.classList.remove("is-longpress");
        pushBalls(randBetween(50 + Math.ceil(multiplier), 100 + Math.ceil(multiplier)), e.clientX, e.clientY);
        longPressed = false;
      }
      document.body.classList.remove("is-pressed");
    }, false);
    window.addEventListener("mousemove", function(e) {
      let x = e.clientX;
      let y = e.clientY;
      pointer.style.top = y + "px";
      pointer.style.left = x + "px";
    }, false);
  } else {
    console.log("canvas or addEventListener is unsupported!");
  }
 
 
  function updateSize() {
    canvas.width = window.innerWidth * 2;
    canvas.height = window.innerHeight * 2;
    canvas.style.width = window.innerWidth + 'px';
    canvas.style.height = window.innerHeight + 'px';
    ctx.scale(2, 2);
    width = (canvas.width = window.innerWidth);
    height = (canvas.height = window.innerHeight);
    origin = {
      x: width / 2,
      y: height / 2
    };
    normal = {
      x: width / 2,
      y: height / 2
    };
  }
  class Ball {
    constructor(x = origin.x, y = origin.y) {
      this.x = x;
      this.y = y;
      this.angle = Math.PI * 2 * Math.random();
      if (longPressed == true) {
        this.multiplier = randBetween(14 + multiplier, 15 + multiplier);
      } else {
        this.multiplier = randBetween(6, 12);
      }
      this.vx = (this.multiplier + Math.random() * 0.5) * Math.cos(this.angle);
      this.vy = (this.multiplier + Math.random() * 0.5) * Math.sin(this.angle);
      this.r = randBetween(8, 12) + 3 * Math.random();
      this.color = colours[Math.floor(Math.random() * colours.length)];
    }
    update() {
      this.x += this.vx - normal.x;
      this.y += this.vy - normal.y;
      normal.x = -2 / window.innerWidth * Math.sin(this.angle);
      normal.y = -2 / window.innerHeight * Math.cos(this.angle);
      this.r -= 0.3;
      this.vx *= 0.9;
      this.vy *= 0.9;
    }
  }
 
  function pushBalls(count = 1, x = origin.x, y = origin.y) {
    for (let i = 0; i < count; i++) {
      balls.push(new Ball(x, y));
    }
  }
 
  function randBetween(min, max) {
    return Math.floor(Math.random() * max) + min;
  }
 
  function loop() {
    ctx.fillStyle = "rgba(255, 255, 255, 0)";
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    for (let i = 0; i < balls.length; i++) {
      let b = balls[i];
      if (b.r < 0) continue;
      ctx.fillStyle = b.color;
      ctx.beginPath();
      ctx.arc(b.x, b.y, b.r, 0, Math.PI * 2, false);
      ctx.fill();
      b.update();
    }
    if (longPressed == true) {
      multiplier += 0.2;
    } else if (!longPressed && multiplier >= 0) {
      multiplier -= 0.4;
    }
    removeBall();
    requestAnimationFrame(loop);
  }
 
  function removeBall() {
    for (let i = 0; i < balls.length; i++) {
      let b = balls[i];
      if (b.x + b.r < 0 || b.x - b.r > width || b.y + b.r < 0 || b.y - b.r > height || b.r < 0) {
        balls.splice(i, 1);
      }
    }
  }
}
clickEffect();//调用特效函数

</script>
</body>
</html>