<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学期总结</title>
    <link rel='stylesheet' href='/stylesheets/sum.css' />
    <script src="/javascripts/sum.js" type="text/javascript"></script>
</head>
<body>

    <div class="warp">
        <div id="mySidenav" class="sidenav" >
            <a herf="javascript:viod(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">&darr;快捷浏览&darr;</a>
            <a href="reg">注册</a>
            <a href="game">2048游戏</a>
            <a href="updata">修改用户资料</a>
            <a href="p1">行走人生</a>
            <a href="perusal">个人博客主页</a>
            </div>
            <div id="main">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776</span>
            </div>
<h1 align="center">总结</h1>
        <h4>
            　　时光匆匆，不知不觉大二整个学期已经结束。回想自己在大二生活，颇有感慨总体来说比刚刚入学的时候强了很多，它让我知道了很多，不仅是课本上的，更多的是学会了很多做人的道理。我想有必要总结一下整个学年的各方面情况，大概可以归纳以下几个要点。

<p>　　一、学习上，比起大一，在认知程度和态度上有了很大的进步。大一的时候由于是刚来到大学校园，由于整个时间由自己支配，感到无所是从，时间经常转瞬即逝，总感觉自己是在虚度光阴。经过大一整个学期的适应，这个学期基本上都能充分利用自己的时间。课余时间，我经常去学校的图书馆，学习一点自己感兴趣的课程，以求提高自己的知识面，拓宽自己思考问题的角度，除了去图书馆学习之外，我还组织同学们去户外活动，增加同学之间的友谊。在学习上，我认为有一样东西非常重要，那就是学习态度!俗话说的好，态度决定一切。我以前总感觉自己不比别人差，问题能自己解决就自己解决，很少向别人请教。而现在，我开始养成一种谦虚、勤问的学习态度。因为我知道学习上的东西来不了弄虚作假，是不懂就不懂，绝不能不懂装懂!孔夫子说过“三人行，必有我师”，我想道理就在这里。



</p>　　三、在业余生活中上，我觉得我收获最大就是学会了，其次就是在业余生活的中增强了体质。我们每天下午都有很多体育活动,跑步,打篮球,大网球，是锻炼身体的一种好方法，也是一种娱乐方式!现在我觉得我的身体素质已经增强了很多，不再像以前那样经常觉得很累，去社会上做志愿者为人民服务,我想这是我在业余生活上的又一重大收获。
    　　以上是我这学期的总结。谢谢观看。   
</h4><h1 align="center"><a href="perusal">返回</a></h1>
    </div>
    
</body>
</html>